<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>My Expenses Tracker </h1>
  <h3>Welcome to your personal expenses tracker service</h3>
</div>
<h1><%= t "hello" %></h1>
<div class="text-center">
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
