<footer class="footer">
  <small>Mi control de gastos ©  </small>
  <nav>
    <ul>
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Acerca de", acerca_de_path %></li>
    </ul>
  </nav>
</footer>
