<footer class="footer">
  <small>Mi control de gastos ©  </small>
  <nav>
    <ul>
      <li><%= link_to "Inicio", '/' %></li>
      <li><%= link_to "Acerca de", '/about' %></li>
    </ul>
  </nav>
</footer>
