<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Control de Gastos", root_path, id: "logo" %>
    </div>
    <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Acerca de", acerca_de_path %></li>
      <li><%= link_to "Entrar", '#' %></li>
      </ul>
    </nav>
</header>
